name: Deploy Viam Module

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Viam CLI
        run: |
          sudo curl -o /usr/local/bin/viam https://storage.googleapis.com/packages.viam.com/apps/viam-cli/viam-cli-stable-linux-amd64
          sudo chmod +x /usr/local/bin/viam
          viam version
      
      - name: Authenticate with Viam
        run: |
          viam login api-key --key-id="${{ secrets.VIAM_API_KEY_ID }}" --key="${{ secrets.VIAM_API_KEY }}"
      
      - name: Create module if it doesn't exist
        run: |
          viam module create --name mhsr602 --public-namespace wootter || echo "Module already exists or creation not needed"
      
      - name: build and publish
        uses: viamrobotics/build-action@v1
        with:
          version: ${{ github.ref_name }}
          ref: ${{ github.sha }}
          key-id: ${{ secrets.VIAM_API_KEY_ID }}
          key-value: ${{ secrets.VIAM_API_KEY }}
